/* estadia.css */
/* Estilos para el contenedor */
.contenedor {
    text-align: center;
}

/* Estilos para la imagen */
.contenedor img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el párrafo de texto */
.contenedor p {
    font-size: 15px;
    color: #000;
    margin-top: 10px;
}